.square {
  width: 79px;
  height: 79px;
  box-shadow: inset 0 0 0 6px #4C4347;

  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 55px;
  color: white;
  font-weight: 600;

}

.aumentar {
  animation: aumentar 0.15s ease;
}

@keyframes aumentar {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px
}

.linha {
  display: grid;
  grid-template-columns: repeat(5, 79px);
  gap: 5px;
}

.ativo {
  border-bottom: 0.11em solid #4C4347;
}

.desativo {
  background-color: #615458;
  box-shadow: inset 0 0 0 6px #615458;
}

.ativo-selecionado {

  border-color: #4C4347;

}

@keyframes flip {
  0% {
    /* Estado Inicial */
    transform: perspective(600px) rotateY(0);
  }

  100% {
    transform: perspective(600px) rotateY(180deg)
  }
}

@keyframes labelflip {
  0% {
    /* Estado Inicial */
    transform: perspective(600px) rotateY(0);
  }

  100% {
    transform: perspective(600px) rotateY(180deg)
  }
}


/* 2. Configuração das classes Coloridas */
.square.verde,
.square.amarelo,
.square.cinza {
  /* A animação do movimento */
  animation: flip 1s ease forwards;

  transition: all 0s ease-out 0.30s
}

.square.verde .label,
.square.amarelo .label,
.square.cinza .label {
  /* A animação do movimento */
  animation: labelflip 1s ease forwards;

  transition: all 0.1 ease-out 0.30s
}

.verde {
  background-color: #3AA394;
  color: white;
  box-shadow: inset 0 0 0 6px #3AA394;
}

.amarelo {
  background-color: #D3AD69;
  color: white;
  border-color: #D3AD69;
  box-shadow: inset 0 0 0 6px #D3AD69
}

.cinza {

  background-color: #312A2C;
  border: #312A2C;
  box-shadow: inset 0 0 0 6px #312A2C
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s;
}

.Vitoria,
.Derrota {
  width: 303px;
  height: 46px;
  color: white;

  z-index: 999;
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 11px;
  background-color: #009AFE;
  opacity: 0;
  animation: popup 0.25s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }

}

.tecladoCont {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.linhaTeclado {
  display: flex;
  justify-content: center;
  gap: 8px;
}

/* deslocamentos laterais (desnível) */
.offset1 {
  padding-left: 45px;
}

.offset2 {
  padding-left: 70px;
}


.tecla {
  min-width: 58px;
  height: 71px;
  background: #4C4347;
  color: white;
  border: none;
  border-radius: 8%;
  font-weight: 500;
  font-size: 28px;
  font-family: 'Mitr', sans-serif;
  transition: background 0.1s ease;
}

.tecla.enter {
  min-width: 167px; /* só um pouco maior */
  height: 71px;
  border-radius: 8%;
}


.tecla:active {
  transform: scale(0.95);
}

.tecla.verde {
  background: #3AA394;
}

.tecla.amarelo {
  background: #D3AD69;
}

.tecla.cinza {
  background: #312A2C;
}

